* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

:root {
  --background: rgb(5, 38, 66);
  --color: rgb(89, 231, 238);
}

body {
  font-family: system-ui,-apple-system,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';
  /* background: linear-gradient(to right, rgba(33, 69, 91) 30%, rgba(49, 36, 56)); */
}

.cursor-pointer{
  cursor: pointer;
}

main{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.output{
  height: 80vh;
    padding: 20px 10px 30px;
    width: 100%;
    border: 1px solid rgb(159, 159, 159);
    border-radius: 8px;
    background: white;
    letter-spacing: 1px;
    text-align: justify;
    word-spacing: 1px;
}

.input{
  height: 20vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.listen-btn{
  border-style: outset;
  border-width: 3px;
  background-color: hsla(0, 100%, 50%, 1);
  width: 90px;
  height: 90px;
  border-radius: 50%;
  transition-duration: .3s;
}

button:hover{
  
  cursor: pointer;
}

.recording{
color: hsla(0, 100%, 40%, 0.7);
transform: scale(.9);
}

p{
  font-size: 18px;
  font-weight: 500;
}

.flex{
  display: flex;
  gap: 10px;
  align-items: center;
}

.send-mail{
  font-size: 16px;
  padding: 10px 20px;
  border:1px solid;
  border-radius: 6px;
}

.modal-container{
  background: #00000096;
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.modal-body{
  background-color: white;
  padding: 20px;
}

.modal-body > form{
  display: flex;
  flex-direction: column;
  gap:20px;
  align-items: center;

}

.modal-body > form > h1{
  text-align: center;
}

.modal-body > form > div{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
  width: 100%;
}


.modal-body > form > div > button{
  font-size: 16px;
  padding: 10px 20px;
  border:1px solid;
  border-radius: 6px;
}

.modal-body > form > div > input{
width: 100%;
padding: 10px;
border-radius: 6px;
border: 1px solid #b9afaf;
font-size: 14px;
}



@media only screen and (min-width: 768px) {

  .modal-body{
    border-radius: 8px;
  }
}

@media only screen and (min-width: 1024px) {
.hover:hover {
  transition-duration: 0.3s;
  transform: scale(1.05);
}
}